@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: black;
  font-family: 'JAGUAR', sans-serif;;
}

@font-face {
  font-family: 'JAGUAR';
  src: url('/fonts/JAGUAR.woff2') format('woff2'),
       url('/fonts/JAGUAR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}

/*----------------------------------------------*/

/* ... rest of the CSS code ... */

.glow-yellow {
  box-shadow: 0 0 10px rgba(220, 252, 53, .5);
}

.glow-yellow-10 {
  box-shadow: 0 0 5px rgba(220, 252, 53, .5);
}

.image-container {
  position: relative;
}

.splash-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  opacity: 0;
  transition: transform 0.1s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.splash-image-hover {
  transform: translate(-50%, -50%) scale(3);
  opacity: 1;
}

.animated-text {
  opacity: 0;
  z-index: 10;
  transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1) ;
}

.animated-text-hover {
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.animated-text-visible {
  opacity: 1;
}

.fade-gradient-left {
  mask-image: linear-gradient(to right, black 50%, transparent);
  -webkit-mask-image: linear-gradient(to right, black 50%, transparent);
}

.fade-gradient-right {
  mask-image: linear-gradient(to left, black 50%, transparent);
  -webkit-mask-image: linear-gradient(to left, black 50%, transparent);
}

.fade-in {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.2s cubic-bezier(0,.45,.54,1);
}

.fade-out {
  opacity: 0;
  transform: translateX(-5px);
  transition: all 0.2s cubic-bezier(0,.45,.54,1);
}

.planning .champion-pool {
  position: absolute;
  top: 0;
}

.team .champion-pool {
  position: absolute;
  top: 50%;
  transform: translateY(-10%);
}

.unblur {
  animation: unblur 1s linear;
}

@keyframes unblur {
  from {
    filter: blur(20px);
  }
  to {
    filter: blur(0);
  }
}
